html {
  height: 100%;
  width: 100%;
  font-family: Verdana, sans-serif;
}

body {
  transition: background-color 300ms;
}

img {
  image-rendering: pixelated;
}

#levelBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 13vh;
  background-color: #5cc;
  transition: background-color 500ms;
  z-index: 2;
}

#levelBarBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0) 35%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.4) 100%);
  z-index: 2;
}
/* This one thing above, if made it work properly, it breaks everything. Now it doesn't */
#levelBarText {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 6vh;
  line-height: 8vh;
  z-index: 2;
}

#levelBarRankText {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 3vh;
  line-height: 4vh;
  z-index: 2;
}

#XPBar {
  position: fixed;
  top: 13vh;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color: black;
  z-index: 2;
}

#XPBarBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0b0;
  transition: 500ms ease-out;
  z-index: 2;
}

#XPBarText {
  text-align: center;
  color: white;
  text-shadow: 0.3vh 0.3vh black;
  margin: 0;
  font-size: 3.5vh;
  line-height: 5vh;
  position: relative;
  z-index: 2;
}

#nextUnlockLevel {
  position: fixed;
  top: 18.5vh;
  left: 0.5vh;
  font-size: 2vh;
  line-height: 2vh;
  margin: 0;
  z-index: 2;
}

#selectedPetText {
  position: fixed;
  text-align: right;
  top: 18.5vh;
  right: 0.5vh;
  font-size: 2vh;
  line-height: 2.5vh;
  margin: 0;
  display: none;
  z-index: 2;
}

#XPBoostDisplay {
  position: fixed;
  text-align: left;
  top: 26vh;
  left: 0.5vh;
  font-size: 2vh;
  line-height: 2.5vh;
  margin: 0;
  display: none;
  z-index: 2;
}

.button {
  position: absolute;
  left: 50%;
  height: 4vh;
  min-width: 4vh;
  transform: translate(-50%, -50%);
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 2vh;
  font-family: Verdana, sans-serif;
  font-size: 3vh;
  line-height: 0;
  transition: background-color 300ms ease-out, color 300ms ease-out, border 300ms ease-out,;
  white-space: nowrap;
}

#button1 {
  top: 25vh;
}

#button2 {
  top: 31vh;
  display: none;
}

#button3 {
  top: 37vh;
  display: none;
}

#button4 {
  top: 43vh;
  display: none;
}

#button5 {
  top: 49vh;
  display: none;
}

#button6 {
  top: 55vh;
  display: none;
}

#button7 {
  top: 61vh;
  display: none;
}

#unboxButton1 {
  top: 67vh;
  display: none;
}

#unboxButton2 {
  top: 73vh;
  display: none;
}

#unboxButton3 {
  top: 79vh;
  display: none;
}

#unboxButton4 {
  top: 85vh;
  display: none;
}

#button8 {
  top: 91vh;
  display: none;
}

#button10 {
  top: 97vh;
  display: none;
}

#button13 {
  top: 103vh;
  display: none;
}

#unboxButton5 {
  top: 109vh;
  display: none;
}

#unboxButton6 {
  top: 115vh;
  display: none;
}

#button9 {
  top: 121vh;
  display: none;
}

#button11 {
  top: 127vh;
  display: none;
}

#button12 {
  top: 133vh;
  display: none;
}

#button14 {
  top: 139vh;
  display: none;
}

.button:hover {
  cursor: pointer;
}


.button:disabled {
  cursor: default;
}

#dailyRewardButton {
  position: fixed;
  transform: none;
  bottom: 5.5vh;
  left: 0.5vh;
  display: none;
  z-index: 2;
}

#dailyRewardDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  width: 60vh;
  height: 60vh;
  background-color: #444;
  display: none;
  border: 0.8vh outset #555;
}

#dailyRewardRarities {
  position: fixed;
  text-align: right;
  top: 3vh;
  right: 0.5vh;
  font-size: 2vh;
  line-height: 2.5vh;
  margin: 0;
  color: #ccc;
}

#claimDailyRewardButton {
  bottom: 16vh;
  font-size: 2vh;
  z-index: 2;
}

#petsTabButton {
  position: fixed;
  z-index: 2;
}

.dayBox {
  position: fixed;
  bottom: 0;
  width: 13vh;
  height: 13vh;
  background-color: #666;
  border: 1vh outset #777;
  text-align: center;
  color: white;
  font-size: 3vh;
  z-index: 2;
} 

#petsDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 70%;
  height: 70%;
  background-color: #444;
  display: none;
  border: 0.8vh outset #555;
}

.closeButton {
  position: fixed;
  top: 4px;
  right: 4px;
  height: 30px;
  font-size: 16px;
  background-color: #ccc;
  border: 2px solid #222;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  z-index: 20;
}

#petsCloseButton:hover {
  cursor: pointer;
}

#petsList {
  position: relative;
  margin: 0;
  width: 60%;
  height: 60vh;
  overflow-y: scroll;
}

#petsListInner {
  position: absolute;
  top: 0;
  left: 0;
}

#petInfo {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #666;
  background-image: url('img/halftoneDots.png')
}

#themeDiv {
  position: fixed;
  bottom: 0.5vh;
  left: 0.5vh;
  z-index: 2;
}

.themeButton {
  height: 2.5vh;
  font-size: 1.5vh;
  z-index: 2;
}

#versionText {
  position: fixed;
  bottom: 0.5vh;
  right: 0.5vh;
  margin: 0;
  line-height: 2vh;
  font-size: 2vh;
  z-index: 2;
}

.settingsButton {
  position: fixed;
  right: 0.5vh;
  height: 2.2vh;
  font-size: 1.5vh;
  line-height: 1.5vh;
  background-color: #bbb;
  border: 3px solid #666;
  z-index: 2;
}

.settingsButton:hover {
  cursor: pointer;
}

#enemiesTabButton {
  position: fixed;
  z-index: 2;
}

#enemiesDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 70%;
  height: 70%;
  background-color: #444;
  display: none;
  border: 0.8vh outset #555;
}

#enemiesCloseButton:hover {
  cursor: pointer;
}

#enemiesList {
  position: relative;
  margin: 0;
  width: 60%;
  height: 60vh;
  overflow-y: scroll;
}

#enemiesListInner {
  position: absolute;
  top: 0;
  left: 0;
}

#enemiesInfo {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #666;
  background-image: url('img/halftoneDots.png')
}

#fightingTabButton {
  position: fixed;
  z-index: 2;
}

#fightingDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  width: 60vh;
  height: 80vh;
  background-color: #444;
  display: none;
  border: 0.8vh outset #555;
}

#fight1Button {
  bottom: 15vh;
  font-size: 2vh;
  z-index: 2;
}

#fight2Button {
  bottom: 20vh;
  font-size: 2vh;
  z-index: 2;
  display: none;
}

#enemiesFightChances {
  color: white;
  text-align: right;
  float: right
}

.dropBox {
  position: fixed;
  bottom: 0;
  width: 13vh;
  height: 13vh;
  background-color: #666;
  border: 1vh outset #777;
  text-align: center;
  color: white;
  font-size: 3vh;
  z-index: 2;
} 

#shopTabButton {
  position: fixed;
  z-index: 2;
}

#shopDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 70%;
  height: 70%;
  background-color: #444;
  display: none;
  border: 0.8vh outset #555;
}

#shopCloseButton:hover {
  cursor: pointer;
}

#shopList {
  position: relative;
  margin: 0;
  width: 60%;
  height: 60vh;
  overflow-y: scroll;
}

#shopListInner {
  position: absolute;
  top: 0;
  left: 0;
}

#shopInfo {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #666;
  background-image: url('img/halftoneDots.png')
}

#ItemBoostDisplay {
  position: fixed;
  text-align: left;
  top: 47vh;
  left: 0.5vh;
  font-size: 2vh;
  line-height: 2.5vh;
  margin: 0;
  display: none;
  z-index: 2;
}