body {
  background-color: #c8c0b8;
}

.button {
  background-color: #975;
  border: 0.3vh solid #543;
  color: #feb;
}

.button:disabled {
  background-color: #777;
  border: 0.3vh solid #444;
  color: #ddd;
}

#unboxButton1 {
  border: 0.3vh solid #888;
}

#unboxButton2 {
  border: 0.3vh solid #669;
}

#unboxButton3 {
  border: 0.3vh solid #869;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText {
  color: #444;
}