body {
  background-color: #111;
}

.button {
  background-color: #111;
  border: 0.3vh solid #0ff;
  color: #0ff;
}

@keyframes flickering {
  from {border-color: #0ff;}
  to {border-color: #77f;}
}

.button:disabled {
  background-color: #444;
  border: 0.3vh solid #f00;
  color: #ddd;
}

#dailyRewardButton {
  color: #b6f;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: #0ff;
}

.tabButton { /* This, when it returns true */
  background-color: #111;
  border: 0.3vh solid #0ff;
  color: #0ff;
}
