body {
  background-color: rgb(73, 33, 73);
}

.button {
  background-color: #96a;
  border: 0.3vh solid #929;
  color: #fff;
}

@keyframes flickering {
  from {border-color: #929;}
  to {border-color: #e2a8e2;}
}

.button:disabled {
  background-color: #777;
  border: 0.3vh solid #444;
  color: #ddd;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: #c9d;
}

.tabButton {
  background-color: #96a;
  border: 0.3vh solid #929;
  color: #fff;
}