body {
  background-color: #422;
}

.button {
  background-color: #d75;
  border: 0.3vh solid #722;
  color: #fff;
}

.button:disabled {
  background-color: #777;
  border: 0.3vh solid #444;
  color: #ddd;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: #d99;
}
