body {
  background-color: #111;
}

.button {
  background-color: #111;
  border: 0.3vh solid #0ff;
  color: #0ff;
}

.button:disabled {
  background-color: #444;
  border: 0.3vh solid #f00;
  color: #ddd;
}

#dailyRewardButton {
  color: #b6f;
}

#unboxButton1 {
  border: 0.3vh solid white;
}

#unboxButton2 {
  border: 0.3vh solid #aaf;
}

#unboxButton3 {
  border: 0.3vh solid #caf;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText {
  color: #0ff;
}