body {
  background-color: #020;
}

.button {
  background-color: #496;
  border: 0.3vh solid #2d2;
  color: #fff;
}

@keyframes flickering {
  from {border-color: #2d2;}
  to {border-color: #ece61a;}
}

.button:disabled {
  background-color: #777;
  border: 0.3vh solid #444;
  color: #ddd;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: #9d8;
}

.tabButton {
  background-color: #496;
  border: 0.3vh solid #2d2;
  color: #fff;
}