body {
  background-color: #333;
}

.button {
  background-color: #543;
  border: 0.3vh solid #975;
  color: #feb;
}

.button:disabled {
  background-color: #444;
  border: 0.3vh solid #888;
  color: #bbb;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText {
  color: #bbb;
}