body {
  background-color: #645e02;
}

.button {
  background-color: #500049;
  border: 0.3vh solid rgb(255, 209, 2);
  color: rgb(212, 0, 255);
}

@keyframes flickering {
  from {border-color: rgb(136, 0, 125);}
  to {border-color: rgb(255, 208, 0);}
}

.button:disabled {
  background-color: #444;
  border: 0.3vh solid #000;
  color: #ddd;
}

#dailyRewardButton {
  color: #b6f;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: rgb(212, 149, 255);
}

.tabButton { /* This, when it returns true */
  background-color: #111;
  border: 0.3vh solid #0ff;
  color: #0ff;
}
