body {
  background-color: #242;
}

.button {
  background-color: #496;
  border: 0.3vh solid #272;
  color: #fff;
}

.button:disabled {
  background-color: #777;
  border: 0.3vh solid #444;
  color: #ddd;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay {
  color: #9d8;
}
