body {
  background-color: #424;
}

.button {
  background-color: #96a;
  border: 0.3vh solid #727;
  color: #fff;
}

.button:disabled {
  background-color: #777;
  border: 0.3vh solid #444;
  color: #ddd;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: #c9d;
}
